
header {
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: var(--font-title-2);
}

main {
    color: var(--gray100)
}

.div-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.img-profile {
    width: 41px;
    height: 41px;
    object-fit: contain;
    border-radius: 100%
}

.logout {
    display: none;
    position: absolute;
    top: 82px;
    right: 226px;
    min-width: 120px;
    height: 43px;
    box-shadow: 0px 4px 40px -12px rgba(0, 0, 0, 0.5);
    border-radius: var(--radius-2);
}

.button-logout {
    border: none;
    cursor: pointer;
}

.div-header:hover >.logout {
    display: block;
}
