
header {
    margin-top: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: var(--font-title-2);
}

main {
    color: var(--gray100)
}

.div-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
}

.img-profile {
    width: 41px;
    height: 41px;
}