@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand100: hsl(230, 57%, 50%);
  --brand200: hsl(230, 68%, 54%);
  --gray100: hsl(210, 11%, 15%);
  --gray200: hsl(210, 10%, 23%);
  --gray300: hsl(210, 9%, 31%);
  --gray400: hsl(210, 7%, 56%);
  --gray500: hsl(210, 11%, 71%);
  --gray600: hsl(210, 16%, 93%);
  --gray700: hsl(210, 17%, 95%);
  --gray800: hsl(210, 17%, 98%);
  --gray900: hsl(200, 100%, 99%);
  --alert100: hsl(349, 57%, 50%);
  --alert200: hsl(349, 69%, 55%);
  --sucess100: hsl(162, 88%, 26%);
  --color-grey-1-opacity-5: rgba(0, 0, 0, 0.5);


  --font-title-1: 2rem;
  --font-title-2: 1.5rem;
  --font-title-3: 1.25rem;

  --font-text-1: 1rem;
  --font-text-2: 0.85rem;
  --font-text-3: 0.75rem;

  --font-weight-1: 600;
  --font-weight-2: 500;
  --font-weight-3: 400;

  --line-height-1:150%;

  --radius-1 : 0.5rem;
  --radius-2: 0.25rem;

}

body {
  animation: smoothShow 800ms;;
}

@keyframes smoothShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
