.hidden {
    display: none;
}


.section-login  {
    display: flex;
    flex-direction: column;
    width: 23rem;
    height: 32.5rem;
    padding: 24px 24px;;
    border: 1px solid var(--gray600);
    border-radius: var(--radius-2);
    color: var(--gray100);
}

.section-login h2 {
    font-size: var(--font-title-3);
    margin-bottom: 1.625rem;
}

.div-input-user{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-bottom: 1.625rem;
}

label {
    font-size: var(--font-text-2);
    font-weight: var(--font-weight-2);
}

input {
    width: 100%;
    height: 2.625rem;
    border-radius: var(--radius-2);
    border: 1px solid #E9ECEF;
    background-color: var(--gray800);
    color: var(--gray100);
    outline: none;
    padding: 1rem;
}

.input-password-error {
    border: 1px solid var(--alert100);
}

.message-error{
    font-size: var(--font-text-2);
    color: var(--alert100);
}

.information-page-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-text-2);
}

.information-page-register p {
    margin-bottom: 1.25rem;
    font-weight: var(--font-weight-2);
}

.information-page-register span {
    margin-bottom: 1.5rem;
    color: var(--gray300);
    font-weight: var(--font-weight-3);
}